.header{

    position: absolute;
    width: 1728px;
    height: 87px;
    left: 0px;
    top: 0px;
    
    background: #000000;
    }
    .comp{
    
    position: absolute;
    width: 180px;
    height: 29px;
    left: 38px;
    top: 29px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #ffffff;
    
    }
    .home{
    
    position: absolute;
    width: 67px;
    height: 29px;
    left: 1171px;
    top: 29px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #ffffff;
    
    }
    .about{
    
    position: absolute;
    width: 111px;
    height: 29px;
    left: 1267px;
    top: 29px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #ffffff;
    
    }
    .mobileapp{
    
    position: absolute;
    width: 127px;
    height: 29px;
    left: 1407px;
    top: 29px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #ffffff;
    
    }
    .contact{
    
    position: absolute;
    width: 127px;
    height: 29px;
    left: 1563px;
    top: 29px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #ffffff;
    
    }
    .rect2{
    
    position: absolute;
    width: 729px;
    height: 911px;
    left: 922px;
    top: 140px;
    
    
    }
    .rect2.img1{
     
    position: absolute;
    width: 100px;
    height: 911px;
    left: 922px;
    top: 140px;
    
    }
    .h1{
    position: absolute;
    width: 600px;
    height: 144px;
    left: 38px;
    top: 60px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    
    color: #000000;
    
    }
    .p1{
    position: absolute;
    width: 791px;
    height: 546px;
    left: 38px;
    top: 245px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
    
    }
    learnmore{
      
    position: absolute;
    width: 226px;
    height: 58px;
    left: 38px;
    top: 800px;
    
    background-color: #000000;
    }
     
    .p{
    
    position: absolute;
    width: 129px;
    height: 33px;
    left: 87px;
    top: 674px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
    
    }
    .fleximages{
    
    position: absolute;
    width: 600px;
    height: 94px;
    left: 50px;
    top: 800px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    
    color: #000000;
    
    }
    .item{
        height: 447.56927490234375px;
        width: 498.4245300292969px;
        left: 50px;
        top: 1000px;
        border-radius: 0px;
        position: absolute;
        flex-flow: row wrap;
    
    }
    
    .item1{
        
        height: 447.56927490234375px;
        width: 498.4245300292969px;
        left: 601.2877197265625px;
        top: 1000px;
        border-radius: 0px;
       position: absolute;
       flex-flow: row wrap;
    
    }
    .item2{
        height: 447.56927490234375px;
        width: 498.4245300292969px;
        left: 1152.575439453125px;
        top: 1000px;
        border-radius: 0px;
      position: absolute;
      flex-flow: row wrap;
    
    }
    .item3{
        height: 447.56927490234375px;
    width: 498.4245300292969px;
    left: 50px;
    top: 1500.4307861328125px;
    border-radius: 0px;
    flex-flow: row wrap;
    position: absolute;
    }
    .item4{
        height: 447.56927490234375px;
    width: 498.4245300292969px;
    left: 601.2877197265625px;
    top: 1500.4307861328125px;
    border-radius: 0px;
    flex-flow: row wrap;
    
    position: absolute;
    }
    .item5{
        height: 447.56927490234375px;
    width: 498.4245300292969px;
    left: 1152.575439453125px;
    top: 1500.4307861328125px;
    border-radius: 0px;
    position: absolute;
    flex-flow: row wrap;
    
    }